/* Mobile First View: */

/* For mobile: */
@media only screen and (max-width: 767px) {
	/* Hide h2 and h4 elements on mobile */
	h2 {
	  display: none;
	}
	h4 {
	  display: none;
	}  
	/* Center align h3 elements on mobile */
	h3 {
	  text-align: center;
	}  
	/* Adjust layout for section, aside, and article elements on mobile */
	section {
	  float: none;
	  width: 100%;
	}  
	aside {
	  /* Style the aside section for mobile */
	  background: #B3E1E6;
	  font-size: 120%;
	  padding: 5px 0;
	  text-align: center;
	  width: 100%;
	}
  
	/* Style links in the aside section */
	aside a {
	  color: #379392;
	  display: block;
	  padding: 5px 0;
	  text-decoration: none;
	  width: 100%;
	}  
	/* Change link color on hover */
	aside a:hover {
	  background-color: #379392;
	  color: white;
	}  
	/* Change link color on focus using tab key */
	aside a:focus {
	  background-color: #379392;
	  color: #B3E1E6;
	  outline: none;
	}  
	/* Style article elements on mobile */
	article {
	  background-color: #B3E1E6;
	  color: #379392;
	  font-size: 100%;
	  text-align: center;
	  padding: 0 10px;
	  margin-bottom: 20px;
	}  
	/* Style article links on mobile */
	article a {
	  color: #379392;
	  padding: 5px;
	  text-decoration: none;
	}  
	/* Change article link color on hover */
	article a:hover {
	  background-color: #B3E1E6;
	  color: #379392;
	}  
	/* Change article link color on focus using tab key */
	article a:focus {
	  background-color: white;
	  color: #379392;
	  outline: none;
	}  
	/* Style the main image on mobile */
	#main_image {
	  width: 100%;
	}  
	/* Style column containers on mobile */
	.column-container {
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	  margin-top: 20px;
	}  
	/* Style individual columns on mobile */
	.column {
	  flex: 1;
	  padding: 10px;
	  border: 1px solid #ccc;
	  box-sizing: border-box;
	  width: 100%;
	  margin-bottom: 20px;
	}  
	/* Style gamer containers and images on mobile */
	.gamer-container,
	.gamers {
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	  margin-top: 20px;
	}  
	.gamers img {
	  width: 100%;
	  max-width: 100%;
	  box-sizing: border-box;
	}
  }  
  /* For desktop: */
  @media only screen and (min-width: 768px) {
	/* Adjust layout for main container on desktop */
	main {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-around;
	  align-items: flex-start;
	}  
	/* Style the main image on desktop */
	#main_image {
	  width: 100%;
	  max-width: 100%;	 
	}  
	/* Adjust layout for section, aside, and article elements on desktop */
	section {
	  width: 100%;
	}  
	aside {
	  width: 100%;
	  align-items: center;
	  display: flex;
	  flex-direction: row;
	  justify-content: space-around;
	}  
	/* Style article elements on desktop */
	article {
	  text-align: center;
	  width: 100%;
	}  
	/* Style gamer containers and images on desktop */
	.gamers {
	  display: flex;
	  justify-content: space-between;
	  margin-top: 20px;
	}  
	.gamers img {
	  width: 50%;
	  height: auto;
	}  
	/* Style links in the aside section on desktop */
	aside a {
	  width: auto;
	}  
	/* Style column containers on desktop */
	.column-container,
	.gamer-container {
	  display: flex;
	  justify-content: space-between;
	  margin-top: 20px;
	  margin-bottom: 50px;
	  max-width: 100%;
	}  
	/* Style individual columns on desktop */
	.column {
	  flex: 1;
	  padding: 10px;
	  border: 1px solid #B3E1E6;
	  box-sizing: border-box;
	}
  }